<body>
  @if (isLoaded && !orderNotFound) {
    <span class="width-clamp">
      <div class="progress">
        <div class="header">Status</div>
        <div class="content">
          <mat-stepper
            #stepper
            [selectedIndex]="orderStatus | orderStatusTransform"
          >
            <mat-step completed="true" editable="false" label="Pending" />
            <mat-step
              [completed]="orderStatus > 0"
              label="Confirmed"
              editable="false"
            />
            <mat-step
              [completed]="orderStatus > 2"
              label="Delivery"
              editable="false"
            />
            @if ((orderStatus | orderStatusTransform) === 99) {
              <mat-step
                [completed]="orderStatus > 4"
                label="Cancelled"
                editable="false"
              />
            } @else {
              <mat-step
                [completed]="orderStatus > 4"
                label="Completed"
                editable="false"
              />
            }
          </mat-stepper>
        </div>
      </div>
      <div class="products-wrapper">
        <div class="products">
          <div class="product" *ngFor="let product of products">
            <img
              alt="productImg"
              height="120"
              width="170"
              ngSrc="assets/garnek"
              priority="true"
              style="float: left"
            />
            <span class="product-property product-name">
              {{ product.name }}
            </span>
            <span class="product-property">
              {{ currencySymbol }}{{ product.price }}
            </span>
            <span class="product-property"> Qty: {{ product.quantity }} </span>
            <span class="product-property">
              {{ currencySymbol
              }}{{ (product.price * product.quantity).toFixed(2) }}
            </span>
          </div>
          @if (paymentFormVisible) {
            <app-stripe-payment
              [orderId]="orderId"
              [clientSecret]="clientSecret"
              [isRetrying]="true"
              class="payment"
            />
          }
          <div class="delivery">
            Delivery <span class="dhl">DHL Parcel Locker</span>
            <div class="delivery-wrapper">
              <div class="address">
                <div>Near Kaufland</div>
                <div>Ginny Hwy. 83</div>
                <div>San Jose</div>
                <div>CA, 021354</div>
              </div>
              <div>
                <div>Retrieval phone number</div>
                <div>+1 123 321314</div>
              </div>
            </div>
          </div>
        </div>
        <span class="side-padding">
          <div class="payment-status">
            <div>Payment status</div>
            @if (paymentStatus === "proccessing") {
              <div #paymentStatus class="default-status pending">Pending</div>
            } @else if (paymentStatus === "succeeded") {
              <div #paymentStatus class="default-status succeeded">Success</div>
            } @else if (paymentStatus === "cancelled") {
              <div #paymentStatus class="default-status failed">Cancelled</div>
            } @else {
              <div #paymentStatus class="default-status failed">Failed</div>
              <button
                mat-stroked-button
                class="retry"
                (click)="ShowPaymentForm()"
              >
                Retry payment
              </button>
            }
          </div>
          <div class="price">
            <div>Subtotal</div>
            <div class="money">€3821</div>
            <div>Delivery</div>
            <div class="money">Free</div>
            <div><b>Total</b></div>
            <div class="money"><b>€3821</b></div>
          </div>
        </span>
      </div>
    </span>
  }
  @if (orderNotFound) {
    <div class="no-order-found">
      Sorry, we could not find order you are looking for.
    </div>
  }
  @if (!isLoaded && !orderNotFound) {
    <div class="wait-spinner">
      <mat-spinner diameter="200" class="load-spinner" />
    </div>
  }
</body>
