<mat-form-field>
  <mat-label>Country</mat-label>
  <mat-select
    id="country"
    (selectionChange)="selectionChanged($event)"
    [required]="required"
    [formControl]="countryControl"
  >
    @for (countryItem of countriesNoPhonesSorted; track countryItem) {
      <mat-option value="{{ countryItem }}">{{ countryItem }}</mat-option>
    }
  </mat-select>
  @if (validate) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
</mat-form-field>

<style>
  mat-form-field {
    width: 100%;
  }
</style>
