div.registerPanel {
  margin: auto;
  width: clamp(400px, 80vw, 1000px);
}

.registerForm {
  margin: 1rem;
  margin-top: 3rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #dfdfdf;
  padding: 3rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 2%;
  grid-row: 2%;
  box-sizing: border-box;
}

.inputs {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0.2rem;
  padding-bottom: 0;
}

:host ::ng-deep .mdc-text-field {
  overflow: visible !important;
}

::ng-deep ul {
  transform: translateY(-100%);
  top: 0;
  left: 0;
  border-radius: 4px;
}

.wide-grid {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  width: 70%;
}
