div.registerPanel {
  margin: auto;
  width: clamp(400px, 80vw, 1000px);
  font-size: clamp(0.8em, 0.7svw, 1.4rem) !important;
}

.registerForm {
  margin: 3rem 1rem 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: #dfdfdf;
  padding: 3svw 3svw 6rem;
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  grid-gap: 2svh 2svw;
  box-sizing: border-box;
  font-size: inherit;
}

.inputs {
  width: 100%;
  font-size: inherit;
  overflow: visible;
}

.mat-select {
  --mat-select-trigger-text-size: clamp(0.8em, 0.7svw, 1.4rem);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding-bottom: 0;
  font-size: inherit;
}

.wide-grid {
  grid-column-start: 1;
  grid-column-end: 3;
}

button {
  width: min(300px, 70svw);
}

