<div class="registerPanel">
  <form class="registerForm" [formGroup]="registerForm">
    <mat-form-field class="inputs">
      <mat-label>Login</mat-label>
      <input
        autocomplete="username"
        matInput
        type="text"
        formControlName="login"
        id="login"
      />
      <mat-error> Login is too short</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" id="email" />
      <mat-error> Email is invalid</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Password</mat-label>
      <input
        autocomplete="new-password"
        matInput
        type="password"
        formControlName="password"
        id="password"
        [errorStateMatcher]="passwordMatcher1"
      />
      <mat-error>
        <ng-container
          *ngIf="registerForm.get('password')?.hasError('required')"
        >
          Password is empty
        </ng-container>
        <ng-container
          *ngIf="registerForm.get('password')?.hasError('minlength')"
        >
          Password should be at least 6 characters
        </ng-container>
        <ng-container *ngIf="registerForm.hasError('confirmPassword')">
          Passwords should match
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Confirm password</mat-label>
      <input
        autocomplete="new-password"
        matInput
        type="password"
        formControlName="password2"
        id="password2"
        [errorStateMatcher]="passwordMatcher2"
      />
      <mat-error>
        <ng-container
          *ngIf="registerForm.get('password2')?.hasError('required')"
        >
          Password is empty
        </ng-container>
        <ng-container
          *ngIf="registerForm.get('password2')?.hasError('minlength')"
        >
          Password should be at least 6 characters
        </ng-container>
        <ng-container *ngIf="registerForm.hasError('confirmPassword')">
          Passwords should match
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" id="name" />
      <mat-error> Name is empty</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Last name</mat-label>
      <input matInput type="text" formControlName="lastname" id="lastname" />
      <mat-error> Last name is empty</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <div>
        <input
          aria-label="provide phone number"
          matInput
          type="tel"
          id="phoneNumber"
          formControlName="phoneNumber"
          class="intl-tel-input"
        />

      </div>
      <mat-error *ngIf="registerForm.get('phoneNumber')?.hasError('required')">
        Phone number is empty</mat-error
      >
      <mat-error
        *ngIf="registerForm.get('phoneNumber')?.hasError('phonePrefix')"
      >
        Please choose prefix</mat-error
      >
      <mat-error
        *ngIf="
          !registerForm.get('phoneNumber')?.hasError('required') &&
          !registerForm.get('phoneNumber')?.hasError('phonePrefix')
        "
      >
        Phone number is invalid</mat-error
      >
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city" id="city" />
      <mat-error> City is empty</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs wide-grid">
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address" id="address" />
      <mat-error> Address is empty</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Postal code</mat-label>
      <input matInput type="text" formControlName="zipCode" id="zipcode" />
      <mat-error> Postal code is empty</mat-error>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Country</mat-label>
      <mat-select formControlName="country" id="country">
        <mat-option
          *ngFor="let country of countriesNoPhonesSorted"
          value="{{ country }}"
          >{{ country }}</mat-option
        >
      </mat-select>
      <mat-error> Please choose country</mat-error>
    </mat-form-field>
    <div class="buttons wide-grid">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="Register()"
      >
        Register
      </button>
    </div>
    <div class="buttons wide-grid">
      <button mat-button type="button" color="primary" routerLink="/login">
        Sign in
      </button>
    </div>
  </form>
</div>
