div.registerPanel {
    margin:auto;
    width: clamp(100px, 70%, 900px);
}

.registerForm {
    margin: 4rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #dfdfdf;
    padding: 4rem;
    display: grid;
    grid-template-columns: auto auto;
    flex-flow: column;
    flex-direction: row;
    column-gap: 2rem;
}

.inputs {
    margin: 0.1rem;
    border-radius: 0.1rem;
    padding: 1rem;
    display: grid;
    width: 100%;
}

.buttons {
    display: grid;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    margin: 0.2rem;
}


