$green-100: hsla(101, 100%, 95%, 1);
$green-200: hsla(99, 49%, 72%, 1);
$green-300: hsla(99, 48%, 48%, 1);
$green-400: hsla(99, 59%, 32%, 1);
$green-500: hsla(99, 95%, 15%, 1);

$yellow-100: hsla(45, 62%, 90%, 1);
$yellow-200: hsla(45, 47%, 69%, 1);
$yellow-300: hsla(45, 48%, 48%, 1);
$yellow-400: hsla(45, 60%, 34%, 1);
$yellow-500: hsla(45, 92%, 19%, 1);

$red-100: hsla(0, 78%, 86%, 1);
$red-200: hsla(0, 57%, 67%, 1);
$red-300: hsla(0, 48%, 52%, 1);
$red-400: hsla(0, 57%, 35%, 1);
$red-500: hsla(0, 96%, 17%, 1);

$primary-100:hsla(235, 38%, 94%, 1);
$primary-200: hsla(233, 65%, 85%, 1);
$primary-300: hsla(231, 56%, 74%, 1);
$primary-400: hsla(231, 50%, 61%, 1);
$primary-500: hsla(231, 48%, 48%, 1);
$primary-600: hsla(231, 53%, 42%, 1);
$primary-700: hsla(231, 55%, 34%, 1);
$primary-800: hsla(230, 67%, 24%, 1);
$primary-900: hsla(229, 91%, 17%, 1);

$gray-100: hsla(232, 100%, 97%, 1);
$gray-200: hsla(229, 14%, 77%, 1);
$gray-300: hsla(230, 12%, 58%, 1);
$gray-400: hsla(231, 15%, 43%, 1);
$gray-500: hsla(232, 17%, 34%, 1);
$gray-600: hsla(235, 21%, 20%, 1);
$gray-700: hsla(234, 32%, 12%, 1);
$gray-800: hsla(233, 45%, 8%, 1);
$gray-900: hsla(231, 100%, 3%, 1);




