/* You can add global styles to this file, and also import other style files */

//html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$app-primary: hsla(231, 48%, 48%, 1);
$app-primary-light: hsla(231, 5%, 98%);

$app-accent: hsla(340, 100%, 63%, 1);
$app-accent-light: lighten($app-accent, 12);

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: rgba(77, 64, 255, 0) !important;
}
.mat-mdc-form-field-focus-overlay {
    background: rgba(77, 64, 255, 0) !important;
  }

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--mdc-filled-text-field-label-text-color) !important;
}
