@import "src/color-palette";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

$font-size: clamp(12px, calc(0.9svw + 0.8svh), 18px);
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
}

.mat-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
}

.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #{$primary-500};
  --mdc-protected-button-label-text-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background: transparent !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled)
  .mdc-floating-label {
  color: var(--mdc-filled-text-field-label-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: $gray-400 !important;
}

.mat-mdc-form-field {
  --mat-form-field-container-text-size: $font-size;
}

.mat-typography {
  font-size: $font-size;
  --mdc-typography-button-font-size: #{font-size};
}

app-catalog {
  .filter-field .mat-mdc-form-field-flex {
    height: 2rem;
    align-items: center;
    text-align: center;
    padding: 8px;
  }

  .filter-field .mdc-text-field--outlined {
    padding: 0;
  }

  .page-size {
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined
      .mat-mdc-form-field-infix {
      padding: 8px;
      display: flex;
      align-items: center;
      width: 60px;
    }

    .mat-mdc-form-field-infix {
      min-height: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

app-cart {
  .product {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      margin: 0;
    }
  }
}

app-checkout {
  .mat-horizontal-stepper-header-container {
    background-color: $primary-200;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
  }

  mat-step-header {
    margin: 0 35px;
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

  .mat-mdc-form-field-focus-overlay {
    background: white !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $gray-100 !important;
  }

  .mdc-text-field {
    overflow: visible !important;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
      .mdc-text-field--textarea
    )
    .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
  }

  .iti {
    display: flex;
  }

  .mat-mdc-form-field-infix {
    display: flex;
  }
}

.iti__country-list {
  max-width: fit-content(20%);
}

.mat-mdc-radio-button {
  --mat-radio-label-text-size: $font-size;
}

mat-checkbox {
  --mdc-checkbox-selected-icon-color: #{$primary-500};
  --mdc-checkbox-selected-focus-icon-color: #{$primary-500};
  --mdc-checkbox-selected-hover-icon-color: #{$primary-500};
  --mdc-checkbox-selected-pressed-icon-color: #{$primary-500};
  --mdc-checkbox-selected-focus-state-layer-color: #{$primary-500};
  --mdc-checkbox-selected-hover-state-layer-color: #{$primary-500};
  --mdc-checkbox-selected-pressed-state-layer-color: #{$primary-500};
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-selected-focus-icon-color: #{$primary-500};
  --mdc-radio-selected-hover-icon-color: #{$primary-500};
  --mdc-radio-selected-icon-color: #{$primary-500};
  --mdc-radio-selected-pressed-icon-color: #{$primary-500};
  --mat-radio-checked-ripple-color: #{$primary-500};
}