@import "src/color-palette";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

$font-size: clamp(12px, calc(0.9svw + 0.8svh), 18px);

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
}

.mat-typography {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: $font-size;
}

.mat-mdc-raised-button.mat-primary {
  --mat-button-protected-container-color: #{$primary-500};
  --mat-button-protected-label-text-color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.mat-mdc-form-field-focus-overlay {
  background: transparent !important;
}

.mdc-text-field--filled.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mat-form-field-filled-label-text-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
  color: $gray-400 !important;
}

.mat-mdc-form-field {
  --mat-form-field-container-text-size: $font-size;
}

.mat-typography {
  font-size: $font-size;
  --mat-typography-button-font-size: #{font-size};
}

.content {
  max-width: min(1200px, 70vw);
  background-color: $primary-100;
  padding: calc((1vh + 1vw) / 2);
  border-radius: 0 0 10px 10px;

}

.header {
  margin-top: 2svh;
  background-color: $primary-200;
  // padding: 1svw;
  padding: calc((1vh + 1vw) / 2);
  max-width: min(1200px, 70vw);
  min-height: 48px;
  height: calc(2svh + 2svw / 2);
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  font-size: 1.5em;
  color: $gray-600;
  display: flex;
  justify-content: center;
  align-items: center;
}

app-catalog {
  .filter-field .mat-mdc-form-field-flex {
    height: 2rem;
    align-items: center;
    text-align: center;
    padding: 8px;
  }

  .filter-field .mdc-text-field--outlined {
    padding: 0;
  }

  .page-size {
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
      padding: 8px;
      display: flex;
      align-items: center;
      width: 60px;
    }

    .mat-mdc-form-field-infix {
      min-height: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

app-cart {
  .product {
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      margin: 0;
    }
  }
}

app-checkout {
  .mat-horizontal-stepper-header-container {
    background-color: $primary-200;
    border-radius: 10px 10px 0 0;
    margin-top: 50px;
  }

  mat-step-header {
    margin: 0 35px;
  }

  .mat-horizontal-content-container {
    padding: 0;
  }

  .mat-mdc-form-field-focus-overlay {
    background: white !important;
  }

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: $gray-100 !important;
  }

  .mdc-text-field {
    overflow: visible !important;
  }

  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
  }

  .iti {
    display: flex;
  }

  .mat-mdc-form-field-infix {
    display: flex;
  }
}

.iti__country-list {
  max-width: fit-content;
}

.mat-mdc-radio-button {
  --mat-radio-label-text-size: $font-size;
}

mat-checkbox {
  --mat-checkbox-selected-icon-color: #{$primary-500};
  --mat-checkbox-selected-focus-icon-color: #{$primary-500};
  --mat-checkbox-selected-hover-icon-color: #{$primary-500};
  --mat-checkbox-selected-pressed-icon-color: #{$primary-500};
  --mat-checkbox-selected-focus-state-layer-color: #{$primary-500};
  --mat-checkbox-selected-hover-state-layer-color: #{$primary-500};
  --mat-checkbox-selected-pressed-state-layer-color: #{$primary-500};
}

.mat-mdc-radio-button.mat-accent {
  --mat-radio-selected-focus-icon-color: #{$primary-500};
  --mat-radio-selected-hover-icon-color: #{$primary-500};
  --mat-radio-selected-icon-color: #{$primary-500};
  --mat-radio-selected-pressed-icon-color: #{$primary-500};
  --mat-radio-checked-ripple-color: #{$primary-500};
}

.dialogPanel {
  div.mat-mdc-dialog-surface {
    border-radius: 10px !important;
  }
}

app-product-details {
  .img-button>.mat-mdc-button-persistent-ripple {
    border-radius: 0 10px 10px 0;
  }

  .left-button>.mat-mdc-button-persistent-ripple {
    border-radius: 10px 0 0 10px;
  }
}

.width-limiter {
  max-width: 1800px;
}
