
.catalog-main {
  background: white;
}

.categories {
  border: 2px solid mediumpurple;
}

.filters {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0 4svh;
  margin: 2svw 0;
}

.filter-field {
}

input.filter-input::-webkit-inner-spin-button {
  display: none;
}

.applied-filters {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 5svw;
  gap: 1rem;
  z-index: 1;
}

.applied-filter {
  margin: 10px;
  border-radius: 15px;
  border-width: 1px;
  border-color: grey;
}

.value {
  color: #ff4081;
}

.products {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.product {
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  height: 250px;
  border: 1px solid aliceblue;
}

.product-price {
  font-weight: 400;
  font-size: 1.3rem;
}

.product-btn{
  position: relative;
  border: 1px solid #ddd;
  align-items: center;
}

.product-btn-icon {
  margin: 0;
}

.product:hover {
  animation: anim 1s forwards;
}

@keyframes anim {
  100% {
  }
}

.opacity {
  opacity: 0.8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mat-drawer-container {
  overflow: unset;
}

.mat-drawer-content {
  overflow: unset;
}
