<body>
  <div class="breadcrumbs-wrapper" style="width: 100%; margin: 0; padding: 0">
    <div class="category-breadcrumbs">
      <ng-container *ngFor="let category of categoryBreadcrumbs; let i = index">
        <mat-icon *ngIf="i > 0">remove</mat-icon>
        <a [disabled]="i === categoryBreadcrumbs.length - 1" mat-button>
          {{ category }}
        </a>
      </ng-container>
    </div>
  </div>

  <mat-sidenav-container class="catalog-main">
    <mat-sidenav class="side-drawer" mode="side" opened>
      <mat-list class="categories">
        <a
          aria-label="go to broader category"
          class="categories-return"
          href=""
          mat-list-item
        >
          <div class="categories-back">
            <mat-icon class="categories-back-icon" inline="true"
              >arrow_upward</mat-icon
            >
            <span> {{ categoryId }} </span>
          </div>
        </a>
        <a
          mat-list-item
          *ngFor="let child of categoryChildren"
          href="products/{{ child.id }}"
          >{{ child.categoryName }}</a
        >
      </mat-list>

      <div class="filters">
        <mat-form-field
          appearance="outline"
          class="filter-field"
          floatLabel="always"
        >
          <mat-label>Name includes</mat-label>
          <input
            [(ngModel)]="filters.Name"
            class="filter-input"
            matInput
            (ngModelChange)="HandleKeyWordsSearch()"
          />
        </mat-form-field>

        <div class="price-filter">
          <mat-form-field
            appearance="outline"
            class="filter-field price-input"
            floatLabel="always"
          >
            <mat-label>Min</mat-label>
            <input
              [(ngModel)]="filters.MinPrice"
              matInput
              type="number"
              class="filter-field"
              (ngModelChange)="RefreshFilterDelay()"
            />
            <span matTextPrefix>{{ currencySymbol }}&nbsp;</span>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            class="filter-field price-input"
            floatLabel="always"
          >
            <mat-label>Max</mat-label>
            <input
              [(ngModel)]="filters.MaxPrice"
              matInput
              type="number"
              class="filter-field"
              (ngModelChange)="RefreshFilterDelay()"
            />
            <span matTextPrefix>{{ currencySymbol }}&nbsp;</span>
          </mat-form-field>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="applied-filters">
        <button
          *ngIf="filters.MinPrice"
          class="applied-filter"
          mat-stroked-button
          (click)="RemoveMinPriceFilter()"
        >
          Price > {{ filters.MinPrice }}{{ currencySymbol }}
          <mat-icon class="material-icons-outlined applied-filter-icon"
            >close</mat-icon
          >
        </button>
        <button
          *ngIf="filters.MaxPrice && filters.MaxPrice >= filters.MinPrice"
          class="applied-filter"
          mat-stroked-button
          (click)="RemoveMaxPriceFilter()"
        >
          Price < {{ filters.MaxPrice }}{{ currencySymbol }}
          <mat-icon class="material-icons-outlined applied-filter-icon"
            >close</mat-icon
          >
        </button>
        <button
          *ngIf="filters.Name !== null"
          class="applied-filter"
          mat-stroked-button
          (click)="RemoveNameFilter()"
        >
          Includes "<span class="value">{{ filters.Name }}</span
          >"
          <mat-icon class="material-icons-outlined" fontIcon="close" />
        </button>
      </div>
      <div class="products" *ngIf="products.length > 0">
        <div *ngFor="let product of products" class="product">
          <div class="product-details" >
            <img
              alt="productImage"
              height="120"
              [ngSrc]="GetPreviewImageSource(product.id)"
              priority="true"
              width="170"
              (click)="NavigateToDetails(product.id)"
            />
            <div class="product-name">{{ product.name }}</div>
            <div class="horizontal-flex" style="width: 100%">
              <div class="product-price">
                {{ product.price + currencySymbol }}
              </div>
              <button
                aria-label="add to cart"
                class="product-btn"
                mat-flat-button
                (click)="AddToCart(product.id)"
              >
                <mat-icon class="product-btn-icon">add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="paginator" *ngIf="products.length > 0">
        <div class="paginator-items">
          <span class="paginator-item"> Items per page: &nbsp; </span>
          <mat-form-field
            class="mat-mdc-paginator-page-size-select page-size paginator-item"
            appearance="outline"
          >
            <mat-select
              aria-label="items per page"
              [value]="filters.PageSize"
              (selectionChange)="UpdatePageSize($event)"
              disableOptionCentering="false"
              class="paginator-item"
            >
              <mat-option [value]="5">
                {{ 5 }}
              </mat-option>

              <mat-option [value]="10">
                {{ 10 }}
              </mat-option>

              <mat-option [value]="25">
                {{ 25 }}
              </mat-option>

              <mat-option [value]="100">
                {{ 100 }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="paginator-controls">
          <button
            mat-button
            type="button"
            class="page-button"
            *ngIf="IsPageAvaiable(-1)"
            (click)="LoadNewPage(-1)"
          >
            <span class="page-direction"> Previous </span>
            <mat-icon> arrow_back_ios </mat-icon>
          </button>

          <button
            *ngIf="IsPageAvaiable(-2)"
            mat-button
            type="button"
            class="page-button page-ref"
            (click)="LoadNewPage(-2)"
          >
            {{ this.filters.PageNum - 2 }}
          </button>

          <button
            *ngIf="IsPageAvaiable(-1)"
            mat-button
            type="button"
            class="page-button page-ref"
            (click)="LoadNewPage(-1)"
          >
            {{ this.filters.PageNum - 1 }}
          </button>

          <button
            mat-button
            type="button"
            class="page-button page-ref current-page-button"
            disabled="true"
          >
            {{ this.filters.PageNum }}
          </button>

          <button
            *ngIf="IsPageAvaiable(1)"
            mat-button
            type="button"
            class="page-button page-ref"
            (click)="LoadNewPage(1)"
          >
            {{ this.filters.PageNum + 1 }}
          </button>

          <button
            *ngIf="IsPageAvaiable(2)"
            mat-button
            type="button"
            class="page-button page-ref"
            (click)="LoadNewPage(2)"
          >
            {{ this.filters.PageNum + 2 }}
          </button>

          <div class="mat-typography paginator-item" style="font-weight: 500">
            out of {{ maxPage }}
          </div>
          <button
            mat-button
            type="button"
            class="page-button"
            *ngIf="IsPageAvaiable(1)"
            (click)="LoadNewPage(1)"
          >
            <span class="page-direction"> Next </span>
            <mat-icon iconPositionEnd> arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: space-around;
          padding-top: 50px;
          height: 500px;
          width: 100%;
        "
        *ngIf="products.length === 0 && !isLoading"
      >
        Sorry, we couldn't find any products that match your criteria.
      </div>
      <div
        style="
          display: flex;
          justify-content: space-around;
          padding-top: 50px;
          height: 500px;
          width: 100%;
        "
        *ngIf="isLoading"
      >
        <mat-spinner class="progress-spinner" diameter="200" />
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
