.catalog-main{
  display: flexbox;
  position: relative;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid aqua;
}

.filter-field {
  background-color: yellowgreen;
  width: 50%;
}

input.filter-input::-webkit-inner-spin-button {
  display: none;
}

.applied-filters {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  opacity: 0.8;
}

.applied-filter {
  margin: 10px;
  border-radius: 15px;
  border-width: 1px;
  border-color: grey;
}

.products {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: auto auto auto auto;
  border: 2px solid green;
}

.product {
  display: grid;
  background-color: aliceblue;
  margin: 15px;
  padding: 5px;
  height: 250px;
  border-radius: 5px;
}

.product:hover {
  animation: anim 1s forwards;
}

@keyframes anim {
  100%{
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.mat-drawer-container {
  overflow: unset;
}

.mat-drawer-content {
  overflow: unset;
}
