@use '/src/color-palette' as colors;

.navbar {
    background-color: colors.$primary-800;
    color: #fff;
    height: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: row;
}

.left {
    text-align: left;
    flex: auto;
}

.right {
    text-align: right;
    flex: auto;
}

button.nav-btn {
  background: colors.$primary-500;
  color: white;
}



