<div class="navbar-wrapper">
  <div class="navbar">
    <div class="left">
      <button mat-raised-button color="primary" type="button" class="nav-btn">
        LHome
      </button>
    </div>
    <div class="right">
      @defer {
        @if (IsLoggedIn &&
          (activatedRoute.children[0].snapshot.url[0].path
            | shouldShowLoggedCapabilities)
        ) {
          Welcome, {{ Name }}
          <a routerLink="cart">
            <button mat-icon-button class="cart-border nav-spacing">
              <mat-icon>shopping_cart</mat-icon>
              @if (CartItemsCount > 0) {
                <span class="items-count">{{ CartItemsCount }}</span>
              }
            </button>
          </a>
        }
      }
      <button
        mat-raised-button
        color="primary"
        type="button"
        class="nav-btn nav-spacing"
      >
        RHome
      </button>
    </div>
  </div>
</div>
