@use '/src/color-palette' as colors;
.navbar-wrapper {
    background-color: colors.$primary-800;
    color: colors.$gray-100;
}

.navbar {
    background-color: inherit;
    color: inherit;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    box-sizing: border-box;
    max-width: 1800px;
    margin: 0 auto;
}

.left {
    text-align: left;
    flex: auto;
}

.right {
    text-align: right;
    flex: auto;
}

button.nav-btn {
  background: colors.$primary-500;
  color: colors.$gray-100;
  font-size: inherit;
}



