div.loginPanel {
    margin:auto;
    width: clamp(100px, 50%, 500px);
}

.loginForm {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #dfdfdf;
    padding: 2rem;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

.inputs {
    margin: 0.1rem;
    border-radius: 0.1rem;
    display: grid;
    width: 100%;
}

.buttons {
    display: grid;
    flex-direction: row;
    flex-flow: row;
    width: 100%;
    margin: 0.2rem;
}

div.register {
    text-align: center;
    display: grid;
}



