@use "src/color-palette";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.headers {
  min-height: 50px;
  background-color: color-palette.$primary-200;
  border-radius: 10px 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0 20px;
}

.headers .header {
  margin: 0 15px;
}

.products {
  height: fit-content;
  background-color: color-palette.$primary-100;
  border-radius: 10px;
  max-width: 1800px;
}

.product {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  min-height: 120px;
  background-color: color-palette.$gray-100;
  margin: 20px 20px;
  border-radius: 10px;
}

.product img {
  height: 100px;
  width: 142px;
  border-radius: 5px;
  margin-left: 5px;
}


.product-property input {
  text-align: center;
}

.product .remove-button {
  font-weight: 300;
  flex-direction: column;
  height: fit-content;
}

.product .quantity-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  height: fit-content;
}

.product-property mat-icon {
  margin-bottom: 10px;
}

.quantity-wrapper mat-icon {
  margin-bottom: 0px;
}

.name {
  justify-self: start;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 1800px;
  justify-items: center;
}

.summary {
  display: grid;
  grid-template-columns: min(60px, 6svw) min(100px, 10svw);
}

.price-static,
.price-dynamic {
  display: grid;
}

.finalization {
  display: flex;
  align-items: center;
}

.promotion-element {
  margin: 15px;
}

.details button {
  height: 58px;
}

button.promotion-element {
  color: color-palette.$primary-500;
}


.empty-cart {
  margin: auto;
  background-color: color-palette.$primary-100;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  padding: 10% 0;
}

.unavailable {
  color: color-palette.$primary-500;
}
