<body>
  @if (isLoading) {
    <div
      style="
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        height: 500px;
        width: 100%;
      "
    >
      <mat-spinner class="progress-spinner" diameter="200" />
    </div>
  }

  @if (!isLoading && !noProductFound) {
    <div class="wrapper">
      <div class="photos main-panel">
        <div class="header">Photos</div>
        <div class="content">
          <div class="images">
            <img
              [ngSrc]="'p-x-' + selectedImageNumber"
              fill
              alt="product image"
              [loaderParams]="{ id: 'p-' + id }"
              priority
            />
            <div class="preview" id="preview">
              @for (imageName of imagesMetadata.storedImages; track imageName) {
                <button class="preview" (click)="ChangeFocusedImage(imageName)">
                  <img
                    [ngSrc]="imageName"
                    fill
                    [loaderParams]="{ id: imageName }"
                    priority
                  />
                </button>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="cart main-panel">
        <div class="header">Purchase</div>
        <div class="content">
          <div class="name">{{ product.name }}</div>
          <div class="price">{{ product.price }} {{ currencySymbol }}</div>
          <button mat-flat-button type="button" color="primary">
            Add to cart
          </button>
          <div class="quanitity">Items left: {{ product.quantity }}</div>
        </div>
      </div>
      <div class="details main-panel">
        <div class="header">Details</div>
        <div class="content">
          HTML code with product details and graphic to be rendered here??
        </div>
      </div>
    </div>
  }
  @if (!isLoading && noProductFound) {
    <div class="error">Sorry, we couldn't find product you are looking for</div>
  }
</body>
