<body>
  <mat-stepper #stepper>
    <mat-step label="Delivery">
      <form>
          <app-checkout1 />
        <div class="control-wrapper">
          <button mat-stroked-button matStepperNext class="cancel">
            Cancel
          </button>
          <button mat-flat-button matStepperNext class="continue">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <form>
        <ng-template matStepLabel>Fill out your name</ng-template>
        <app-checkout2></app-checkout2>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>part 3 - summary</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</body>
