@import "src/color-palette.scss";


body {
  display: flex;
  justify-content: center;
}

mat-stepper {
  width: 100%;
  max-width: 1200px;
}

app-checkout1 {
  overflow: visible;
}
.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

mat-form-field {
  margin: 5px 20px;
}

input {
  max-width: 300px;
}

.content {
  background-color: $primary-100;
  width: 100%;
  padding: 0;
  height: fit-content;
  position: relative;
  padding: 125px 0;

  border-radius: 0 0 10px 10px;
}

.row {
  display: flex;
}

.control-wrapper {
  display: flex;
  justify-content: flex-end;
}

.control-wrapper .continue {
  background-color: $primary-600;
  color: white;
  margin-top: 42px;
  margin-right: 28px;
  margin: 42px 28px 0 0;
  width: 98px;
  height: 48px;
}

.control-wrapper .cancel {
  color: $primary-600;
  margin-top: 42px;
  margin-right: 28px;
  margin: 42px 28px 0 0;
  width: 98px;
  height: 48px;
}

