@import "src/color-palette.scss";

body {
  display: flex;
  justify-content: center;
  margin: 0 3vh;
  max-width: 1800;
  overflow: visible;
}

mat-stepper {
  width: 100%;
  max-width: 1200px;
}

app-checkout1 {
  overflow: visible;
}
.delivery-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

mat-form-field {
  margin: 5px 20px;
}

input {
  max-width: 300px;
}

.row {
  display: flex;
}

.control-wrapper {
  display: flex;
  justify-content: flex-end;
}

.control-wrapper .continue {
  background-color: $primary-600;
  color: white;
  margin-top: 42px;
  margin-right: 28px;
  margin: 42px 28px 0 0;
  width: 98px;
  height: 48px;
}

.control-wrapper .cancel {
  color: $primary-600;
  margin-top: 42px;
  margin-right: 28px;
  margin: 42px 28px 0 0;
  width: 98px;
  height: 48px;
}

.paymentStripe {
  padding: 1.5vh;
  background-color: #eaebf6;
  font-size: inherit;
  line-height: 1.2em;
}

.content {
  max-width: min(1200px, 70vw);
  background-color: $primary-100;
  padding: 2vh;
  margin: 0;
  border-radius: 0 0 10px 10px;
}

.summary > .content {
  max-width: 400px;
}

.header {
  background-color: $primary-200;
  margin-top: 5svh;
  padding: 1svw;
  max-width: min(1200px, 70vw);
  min-height: 48px;
  height: 8vh;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  font-size: 1.5em;
  color: $gray-600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  min-height: 120px;
  background-color: $gray-100;
  margin: 1vh 1vw;
  border-radius: 10px;
}

.product img {
  height: 100px;
  width: 142px;
  border-radius: 10px;
  margin-left: 1svw;
  aspect-ratio: 1.42;
}

.product .product-property {
  margin: 0 1.5vw;
}

body {
  display: flex;
  gap: 2svw;
}

.empty-codes {
  background-color: $primary-200;
  border-radius: 10px;
  padding: 1vw;
  flex-wrap: nowrap;
  text-wrap: nowrap;
}

.promo-codes {
  padding: 1.5vw;
}

table {
  width: 100%;
  padding-top: 1svw;
}

mat-divider {
  --mat-divider-color: #{$gray-300};
  --mat-divider-width: 2px;
}

td.total {
  font-size: larger;
  color: $primary-600;
  font-weight: 600;
}

td.second-total {
  font-size: larger;
  font-weight: 300;
}

td.second-column {
  text-align: end;
}

td {
  padding: 0.3svw 0;
}

mat-card {
  border-radius: 10px;
  user-select: none;
  min-width: 30vh;
}

.customer-details {
  display: flex;
  overflow-x: auto;
}

.customer-details mat-card {
  line-height: 1.7;
  width: auto;
  letter-spacing: 0.05em;
  margin: 2vh;
}

button.edit {
  position: absolute;
  left: -1vh;
  top: -1vh;
}

mat-card.selected {
  border: solid 1px $primary-500;
}

mat-icon.selected {
  color: $primary-500;
}

mat-icon.add {
  --mat-icon-color: #{$primary-500};
  border: solid 1px $gray-200;
  border-radius: 10px;
  transform: scale(1.8);
}

.center {
  margin: auto;
}

.sticky {
  position: sticky;
  top: 5svh;
}

::-webkit-scrollbar {
  width: 200px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $primary-200;
  border-radius: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: $primary-300;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-500;
}

@media (max-width: 700px) {
  body {
    flex-direction: column;
  }

  .header,
  .content {
    max-width: 100%;
  }
}

.delivery-method {
  background-color: $gray-100;
  border-radius: 10px;
  min-height: 6vh;
  height: fit-content;
  border: 1px solid $gray-200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  // cursor: pointer;
  margin: 2vh;
  padding: 0 1vw 0 0.5vw;
}

.delivery-type-description {
  color: $primary-500;
  font-size: 2em;
  margin: 0 4vw;
  font-weight: 500;
  letter-spacing: 1px;
}

button.cancel-order {
  background-color: $gray-100;
}

.cta-buttons {
  display: flex;
  justify-content: center;
}

.cta-buttons button {
  margin: 1vmin;
}

.map {
  width: 60vw;
  height: 90vh;
  border-radius: 10px;
  overflow:visible !important;
}
