<div class="header">Delivery details</div>
<div class="content">
  <form class="layout" [formGroup]="addressForm">
    <mat-form-field class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullname" />
      <mat-error> Full name is required</mat-error>
    </mat-form-field>
    <mat-form-field class="inputs">
      <mat-label>Phone number</mat-label>
      <ngx-mat-input-tel
        aria-label="provide phone number"
        matInput
        name="phoneNumber"
        id="phoneNumber"
        describedBy="phoneNumber"
        [required]="true"
        [formControlName]="'phoneNumber'"
        [enablePlaceholder]="true"
        [enableSearch]="true"
        #phone
      />
      <mat-error> Phone number is invalid </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
      <mat-error> Address is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      @if (addressForm.controls["email"].hasError("required")) {
        <mat-error> Email is required</mat-error>
      }
      @if (addressForm.controls["email"].hasError("email")) {
        <mat-error> Email is invalid</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Postal code</mat-label>
      <input matInput formControlName="zipcode" />
      <mat-error> Postal code is required</mat-error>
    </mat-form-field>

    <app-country-select
      class="inputs"
      [required]="true"
      [validate]="true"
      [(country)]="addressForm.controls['country'].value!"
      #country
    ></app-country-select>

    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="city" />
      <mat-error> City is requried</mat-error>
    </mat-form-field>
  </form>
  <mat-dialog-actions>
    <div class="cta-container">
      @if (!isNew) {
        <div class="cta-buttons">
          <button
            mat-flat-button
            class="delete-button"
            (click)="DeleteAddress()"
          >
            Delete
          </button>
        </div>
      }
      <div class="cta-buttons" style="align-self: flex-end">
        <button mat-stroked-button (click)="CloseEditor()" class="cancel-order">
          Cancel
        </button>
        @if (isNew) {
          <button mat-flat-button (click)="AddAddress()" color="primary">
            Add
          </button>
        } @else {
          <button mat-flat-button (click)="UpdateAddress()" color="primary">
            Update
          </button>
        }
      </div>
    </div>
  </mat-dialog-actions>
</div>
