@import "src/color-palette.scss";

.header {
  background-color: $primary-200;
  // padding: 1svw;
  padding: calc(0.5vh + 0.5vw);
  max-width: min(700px, 70vw);
  min-height: 48px;
  height: 8vh;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  font-size: 1.5em;
  color: $gray-600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: min(700px, 70vw);
  background-color: $primary-100;
  padding: calc(0.5vh + 0.5vw);
  border-radius: 0 0 10px 10px;
}

form.layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2svh 2svw;
  padding: 3svw 3svw 1svw 3svw;
}

mat-form-field.full-width {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  padding:  1svw 2svw 2svh;
}

.cta-buttons button {
  margin: 1vmin;
}

button.delete-button {
  background-color: $red-400;
  color: white;
}

.cta-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-between;
}

.backdrop {
  div.mat-mdc-dialog-surface{
    border-radius: 10px !important;
  }
}
