@use "src/color-palette.scss";

.header {
  margin-top: 0;
}


form.layout {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2svh 2svw;
  padding: 3svw 3svw 1svw 3svw;
}

mat-form-field.full-width {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  padding: 1svw 2svw 2svh;
}

.cta-buttons button {
  margin: 1vmin;
}

button.delete-button {
  background-color: color-palette.$red-400;
  color: white;
}

.cta-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: space-between;
}

.backdrop {
  div.mat-mdc-dialog-surface {
    border-radius: 10px !important;
  }
}
